<div class="app-wrapper">
  <app-header (search)="onSearch($event)"></app-header>
  <div class="app-container">
    <app-sidebar 
      [ngClass]="{'full-width': !isSidebarPartial, 'partial-width': isSidebarPartial}"
      [searchResults]="searchResults" 
      [searchQuery]="searchQuery" 
      (categorySelected)="onCategorySelected($event)"
      (companyDetailsToggled)="onCompanyDetailsToggled($event)">
    </app-sidebar>
    <app-yandex-map *ngIf="showYandexMap"></app-yandex-map>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->